# dependencies
/node_modules

# testing
/test
/coverage

# misc
/.git

# Development folders and files
.eslintignore
.eslintrc
.gitignore
readme_logo.png
rollup.config.js
tsconfig.json
/src
/debug
/types